* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* header styles starts */
.header-class {
  background-image: url("./images/banner/banner3.png");
  background-size: cover;
  height: 100vh;
}

.header-container {
  text-align: right;
  padding: 200px 200px 0 800px;
}

.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
}

.header-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 24px 0 32px;
}

.header-button {
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
}
/* header styles ends */
/* failures styles starts */
.failures {
  display: flex;
  gap: 87px;
  margin: 130px 200px;
}

.failures-container {
  margin-top: 240px;
}

.failures-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.failures-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin: 24px 0 16px;
}

.failures-list p {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin: 8px 0;
}

.failures-list p i {
  color: #16d887;
  margin-right: 10px;
}
/* failures styles ends */
